.row1{
    position: relative;
   }
   .box1{
    position:absolute;
    top:0px;
    right: 0px;
    border-bottom-left-radius:30px ;
    border: 1px solid red;
    cursor: pointer;
    background-color: orangered;
    box-shadow:0px 5px 3px  yellow;
   }
   .row1>.box2{
    position:absolute;
    bottom: 100px;
    left: 10px;
   }